@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgba(249, 250, 251, 1);
    --foreground: #1a1a1a;
    --color-primary: #6d28d9; /* 默认主题 */
    --card-bg-color: #fff;
    --text-color: #2c2c2c;
    --sub-text-color: #6b7280;
    --code-color: #6366f1;
  }

  .dark {
    --background: #121212;
    --foreground: #e4e4e4;
    --color-primary: #9e78ff; /* 默认主题 */
    --card-bg-color: #262626;
    --text-color: #e4e4e7;
    --sub-text-color: #9ca3af;
    --code-color: #a5b4fc;
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* WebKit */
  }
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-space;
}

.prose a {
  color: var(--color-primary);
  text-decoration: underline;
}

.prose code {
  color: var(--code-color);
}

.content-header a {
  opacity: 0;
  transition: all 0.3s ease;
}

.content-header:hover {
  a {
    opacity: 1;
    display: inline-block;
    padding-right: 6px;
  }
}

.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
}
