@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgba(249, 250, 251, 1);
    --foreground: #1a1a1a;
    --color-primary: #6d28d9; /* 默认主题 */
    --card-bg-color: #fff;
    --text-color: #2c2c2c;
    --sub-text-color: #6b7280;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: #e4e4e4;
    --color-primary: #9e78ff; /* 默认主题 */
    --card-bg-color: #262626;
    --text-color: #e4e4e7;
    --sub-text-color: #9ca3af;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-space;
}

.content-header a {
  opacity: 0;
  display: none;
  transition: all 0.3s ease;
}

.content-header:hover {
  a {
    opacity: 1;
    display: inline-block;
    padding-right: 6px;
  }
}

.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
}
